.main-content
  .main-content__header
    .main-content__header__name
      %h2
        ="group-name"
      %h3
        ="group-member"
    .main-content__header__edit-btn
      = link_to "Edit","https://www.facebook.com/", class: 'main-content__header__edit-btn__edit'

  .main-content__chat-parts
    .main-content__chat-parts__name
      ="user-name"
    .main-content__chat-parts__time
      = "message-time"
    .main-content__chat-parts__message
      = "message"
      
  
  .main-content__footer
    .main-content__footer__textbox
    .main-content__footer__icon
      = link_to "https://www.facebook.com/",class: "side-content__footer__icon" do
        = fa_icon "picture-o"
    .main-content__footer__message
      = link_to "Send","https://www.facebook.com/", class: 'main-content__footer__message__send'
    
    
